In [241]:
import numpy as np
import pandas as pd

In [242]:
#Loading Datasets
df = pd.read_csv("../Sample_Data/churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [243]:
#Pre-Processing
df.isnull().sum() #Checking for null values (Column-wise)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [244]:
#Keeping the important columns (Feature Engineering)
columns_to_keep = ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'Contract', 'TotalCharges', 'Churn']
df = df[columns_to_keep]

In [ ]:
# Clean TotalCharges: convert to numeric and fill missing values
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,Month-to-month,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,One year,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,Month-to-month,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,One year,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Month-to-month,151.65,Yes

In [246]:
df.head()
#Ask if this is supervised or unsupervised, if supervised ask if its regression or classification
#Here it is regression coz its properly divided into labels and the output (churn has yes/no categories)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,Month-to-month,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,One year,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,Month-to-month,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,One year,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Month-to-month,151.65,Yes

In [247]:
#Encode Binary Varibales
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
categorical_cols = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'Contract', 'Churn']
# Apply label encoding to each column
for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col])
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,1,0,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,0,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,1,1,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,0,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,2,1,1990.5,0
7039,2234-XADUH,0,0,1,1,72,1,2,1,7362.9,0
7040,4801-JZAZL,0,0,1,1,11,0,1,0,346.45,0
7041,8361-LTMKD,1,1,1,0,4,1,2,0,306.6,1
7042,3186-AJIEK,1,0,0,0,66,1,0,2,6844.5,0

In [248]:
# ANother technique to turn it into binary 
binary_columns = ['Partner', 'Dependents', 'PhoneService', 'Churn']
df[binary_columns] = df[binary_columns].replace({'Yes':1,'No':0})
df['gender'].replace({'Female':0 , "Male":1})
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,1,0,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,0,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,1,1,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,0,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,2,1,1990.5,0
7039,2234-XADUH,0,0,1,1,72,1,2,1,7362.9,0
7040,4801-JZAZL,0,0,1,1,11,0,1,0,346.45,0
7041,8361-LTMKD,1,1,1,0,4,1,2,0,306.6,1
7042,3186-AJIEK,1,0,0,0,66,1,0,2,6844.5,0

In [249]:
# Split the dataset into features (X) and target (y)
X = df.drop(['Churn', 'customerID'], axis=1)
y = df['Churn']

In [250]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Standardize features (ensure all inputs are numeric)

from sklearn.preprocessing import StandardScaler



# Convert any non-numeric columns to numeric and handle missing values

X_train = X_train.apply(pd.to_numeric, errors='coerce')

X_test = X_test.apply(pd.to_numeric, errors='coerce')

X_train = X_train.fillna(0)

X_test = X_test.fillna(0)



scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

ValueError: could not convert string to float: ' '

In [ ]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(X_train,y_train)
y_pred = lg.predict(X_test)
y_pred

array([1, 0, 0, ..., 0, 0, 1], shape=(1409,))

In [ ]:
#Accuracy score 
from sklearn.metrics import accuracy_score
accuracy_score(y_test ,y_pred)
#Currently its showing 77.5 % accuracy (which is low)

0.7757274662881476

In [ ]:
#Saving the model
import pickle
pickle.dump(lg,open('Churn_prediction.pkl','wb'))

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,1,0,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,1889.50,0
2,3668-QPYBK,1,0,0,0,2,1,0,0,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,1,1,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,0,151.65,1

In [ ]:
#Classification System
def prediction(gender,Seniorcitizen,Partner,Dependents,tenure,Phoneservice,multiline,contact,totalcharge):
    data = {
    'gender': [gender],
    'SeniorCitizen': [Dependents],
    'Partner': [Partner],
    'Dependents': [Phoneservice],
    'tenure': [tenure],
    'PhoneService': [Phoneservice],
    'MultipleLines': [multiline],
    'Contract': [contact],
    'TotalCharges': [totalcharge]
    }
    # Create a DataFrame from the dictionary
    df = pd.DataFrame(data)


    # Encode the categorical columns
    categorical_columns = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'Contract']
    for column in categorical_columns:
        df[column] = label_encoder.fit_transform(df[column])
    df = scaler.fit_transform(df)

    result = lg.predict(df).reshape(1,-1)
    return result[0]

In [ ]:
gender = "Female"
Seniorcitizen = "No"
Partner = "Yes"
Dependents = "No"
tenure = 1
Phoneservice="No"
multiline = "No phone service"
contact="Month-to-month"
totalcharge = 29.85
result = prediction(gender,Seniorcitizen,Partner,Dependents,tenure,Phoneservice,multiline,contact,totalcharge)

print('churn' if result==1 else 'not churn')

df

not churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,1,0,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,1889.50,0
2,3668-QPYBK,1,0,0,0,2,1,0,0,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,1,1,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,0,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,2,1,1990.50,0
7039,2234-XADUH,0,0,1,1,72,1,2,1,7362.90,0
7040,4801-JZAZL,0,0,1,1,11,0,1,0,346.45,0
7041,8361-LTMKD,1,1,1,0,4,1,2,0,306.60,1
7042,3186-AJIEK,1,0,0,0,66,1,0,2,6844.50,0